In [1]:
"""Checks the length of each article in a CSV file and later removes it from the CSV file
"""
import pandas as pd
import numpy as np

In [2]:
WEB_NAME = 'fox_articles'
df = pd.read_csv('../data/right/data_{}.csv'.format(WEB_NAME))
df.head()

                                             article  denial?
0  Candidates scramble to qualify for presidentia...        1
1  Fox News Flash top headlines for August 24 are...        1
2  Fox News Flash top headlines for August 24 are...        1
3  Brazil's president has rejected calls from Eur...        1
4  Daniel Turner calls Bernie Sanders' climate ch...        1

In [3]:
# len(df['article'].iloc[1])
df['length'] = [0] * len(df.index)
df.head()

                                             article  denial?  length
0  Candidates scramble to qualify for presidentia...        1       0
1  Fox News Flash top headlines for August 24 are...        1       0
2  Fox News Flash top headlines for August 24 are...        1       0
3  Brazil's president has rejected calls from Eur...        1       0
4  Daniel Turner calls Bernie Sanders' climate ch...        1       0

In [4]:
for i in df.index:
    df['length'].iat[i] = len(df['article'].iloc[i])

df.head()

                                             article  denial?  length
0  Candidates scramble to qualify for presidentia...        1    6556
1  Fox News Flash top headlines for August 24 are...        1     992
2  Fox News Flash top headlines for August 24 are...        1    3059
3  Brazil's president has rejected calls from Eur...        1    3793
4  Daniel Turner calls Bernie Sanders' climate ch...        1    4963

In [5]:
sort_by_length = df.sort_values('length')
sort_by_length.head()

                                               article  denial?  length
188  President Donald Trump, joined by Vice Preside...        1     257
243  Former New York mayor Michael Bloomberg has be...        1     541
236  Arnold Schwarzenegger is making a rare politic...        1     612
189  Former Vice President Al Gore praised China fo...        1     692
169  CHICAGO – Four Greenpeace activists accused of...        1     750

In [6]:
# MIN_NUM_CHARS = 227
MIN_NUM_CHARS = 1000

#Deleting cells of length 1
no_small_articles = sort_by_length[sort_by_length.length >= MIN_NUM_CHARS].head()

print(no_small_articles['article'].iloc[0])
no_small_articles.head()

The jury's still out on whether Monday's Supreme Court ruling will have any effect on the Environmental Protection Agency's proposed rule to limit carbon emissions from power plants.Both opponents and defenders of the EPA push claimed victory in the 5-4 and 7-2 decisions on a pair of EPA permitting programs for large industrial emissions sources, a reflection of the nuanced case before the high court.The Supreme Court, in a majority opinion written by Justice Antonin Scalia, ruled the EPA could not require companies wishing to expand or modify existing facilities to get a pre-construction permit under the programs in question simply because they emit greenhouse gases.The ruling also said that the EPA had improperly interpreted the Clean Air Act to mean it must regulate greenhouse gas emissions. It noted the agency cannot rewrite the Clean Air Act to work within the framework of directly regulating those emissions from major stationary sources, as it had attempted to do to avoid regulating entities such as schools and churches.Click for more from WashingtonExaminer.com

                                               article  denial?  length
241  The jury's still out on whether Monday's Supre...        1    1085
235  Over 90 percent of funding for a diesel reduct...        1    1183
79   Former Vice President Al Gore turned up the rh...        1    1210
240  Speaking in New York City last week, Wall Stre...        1    1239
246  President Obama will propose sending $3 billio...        1    1290

In [7]:
# no_small_articles = no_small_articles.drop('length', axis=1)
no_small_articles.to_csv('../data/filtered articles/{}_filtered.csv'.format(WEB_NAME), index=False)
no_small_articles.head()

                                               article  denial?  length
241  The jury's still out on whether Monday's Supre...        1    1085
235  Over 90 percent of funding for a diesel reduct...        1    1183
79   Former Vice President Al Gore turned up the rh...        1    1210
240  Speaking in New York City last week, Wall Stre...        1    1239
246  President Obama will propose sending $3 billio...        1    1290