In [1]:
"""Checks the length of each article in a CSV file and later removes it from the CSV file
"""
import pandas as pd
import numpy as np

In [19]:
FILE_NAME = 'all_right'
df = pd.read_csv('../../data/{}.csv'.format(FILE_NAME))
df.head()

,Unnamed: 0,Unnamed: 0.1,title,author,date,content,denial?
0,0,0,New UN ‘prediction’ report timed to NYC UN sum...,Marc Morano,2019-08-29 00:00:00,UN IPCC draft report ‘to call for radical acti...,1
1,1,1,NASA: Global Wildfires Drop By 25% Since 2003 ...,Marc Morano,2019-08-29 00:00:00,News reports about the Amazon fires strike a f...,1
2,2,2,Science Goes Up In Rain Forest Smoke,NaN,2019-08-28 13:21:34+00:00,Science Goes Up In Rain Forest Smoke\n\nIf jou...,1
3,3,3,Awesome! U.S. Navy Shut Down Climate Change Ta...,NaN,2019-08-28 00:00:00,The U.S. Navy shut down its Task Force Climate...,1
4,4,4,Climate Change Could Leave Obama’s Possible Ne...,NaN,2019-08-26 00:00:00,Former President Barack Obama’s possible new m...,1

In [21]:
#Removing index numbers column
df = df.drop('Unnamed: 0.1',axis=1)
df.head()

,title,author,date,content,denial?
0,New UN ‘prediction’ report timed to NYC UN sum...,Marc Morano,2019-08-29 00:00:00,UN IPCC draft report ‘to call for radical acti...,1
1,NASA: Global Wildfires Drop By 25% Since 2003 ...,Marc Morano,2019-08-29 00:00:00,News reports about the Amazon fires strike a f...,1
2,Science Goes Up In Rain Forest Smoke,NaN,2019-08-28 13:21:34+00:00,Science Goes Up In Rain Forest Smoke\n\nIf jou...,1
3,Awesome! U.S. Navy Shut Down Climate Change Ta...,NaN,2019-08-28 00:00:00,The U.S. Navy shut down its Task Force Climate...,1
4,Climate Change Could Leave Obama’s Possible Ne...,NaN,2019-08-26 00:00:00,Former President Barack Obama’s possible new m...,1

In [22]:
# len(df['article'].iloc[1])
df['length'] = [0] * len(df.index)
df.head()

,title,author,date,content,denial?,length
0,New UN ‘prediction’ report timed to NYC UN sum...,Marc Morano,2019-08-29 00:00:00,UN IPCC draft report ‘to call for radical acti...,1,0
1,NASA: Global Wildfires Drop By 25% Since 2003 ...,Marc Morano,2019-08-29 00:00:00,News reports about the Amazon fires strike a f...,1,0
2,Science Goes Up In Rain Forest Smoke,NaN,2019-08-28 13:21:34+00:00,Science Goes Up In Rain Forest Smoke\n\nIf jou...,1,0
3,Awesome! U.S. Navy Shut Down Climate Change Ta...,NaN,2019-08-28 00:00:00,The U.S. Navy shut down its Task Force Climate...,1,0
4,Climate Change Could Leave Obama’s Possible Ne...,NaN,2019-08-26 00:00:00,Former President Barack Obama’s possible new m...,1,0

In [23]:
#Get rid of nan content rows
df2 = df[df['content'].notnull()]

#Get the length of each article
for i in range(len(df2)):
    df2['length'].iat[i] = len(df2['content'].iloc[i])

df2.head()

,title,author,date,content,denial?,length
0,New UN ‘prediction’ report timed to NYC UN sum...,Marc Morano,2019-08-29 00:00:00,UN IPCC draft report ‘to call for radical acti...,1,2252
1,NASA: Global Wildfires Drop By 25% Since 2003 ...,Marc Morano,2019-08-29 00:00:00,News reports about the Amazon fires strike a f...,1,27780
2,Science Goes Up In Rain Forest Smoke,NaN,2019-08-28 13:21:34+00:00,Science Goes Up In Rain Forest Smoke\n\nIf jou...,1,4661
3,Awesome! U.S. Navy Shut Down Climate Change Ta...,NaN,2019-08-28 00:00:00,The U.S. Navy shut down its Task Force Climate...,1,1480
4,Climate Change Could Leave Obama’s Possible Ne...,NaN,2019-08-26 00:00:00,Former President Barack Obama’s possible new m...,1,2919

In [23]:
# df['content'].iloc[i]
# np.nan

nan

In [24]:
sort_by_length = df2.sort_values('length')
sort_by_length.head()

,title,author,date,content,denial?,length
824,Aussies Still Fighting Emissions Trading Scheme,Dan McGrath,"January 21, 2010",,1,1
757,HAPPY EARTH DAY,ElmerB,"April 22, 2010",,1,1
863,Lord Monckton adresses a Greenpeace-campaigner...,Dan McGrath,"December 15, 2009",,1,1
848,Christmas in Copenhagen,ElmerB,"December 19, 2009",,1,1
847,Hundreds Gather to Protest Global Warming,ElmerB,"December 21, 2009",,1,1

In [25]:
MIN_NUM_CHARS = 1000

#Drops rows with small articles
no_small_articles = sort_by_length[sort_by_length.length >= MIN_NUM_CHARS]

print(no_small_articles['content'].iloc[0])
len(no_small_articles)

TEL AVIV – President Donald Trump’s decision on Thursday to pull out of the Paris climate accord will not sway the Israeli government in a similar direction, Israel’s Environmental Protection Minister indicated, remarking that the country “is not an American colony.”
“We are not an American colony,” Minister Ze’ev Elkin (Likud) said. “The working assumption that Israel needs to change something in its conduct because the U.S. president has decided to withdraw is wrong.”
“The agreement does not affect the Israeli economy — quite the contrary,” he said. “We placed an emphasis on the decreased use of coal and this is reducing air pollution in the state.”
“Just as Trump said that he was elected to represent Detroit rather than Paris, we were elected to represent Jerusalem and not Detroit,” Elkin observed.
“We can contribute our part and act to decrease greenhouse gas emissions, but without American involvement the world will have significantly fewer tools to deal with the issue,” Elkin said.

6784

In [26]:
# no_small_articles = no_small_articles.drop('length', axis=1)
no_small_articles.to_csv('../../data/{}_filtered.csv'.format(FILE_NAME), index=False)
no_small_articles.head()

,title,author,date,content,denial?,length
1871,Israeli Environment Minister: We Will Continue...,Deborah Danan,4 Jun 2017,TEL AVIV – President Donald Trump’s decision o...,1,1002
3667,How do you attend a Distant Climate Conference...,Eric Worrall,"June 19, 2019",Guest essay by Eric Worrall h/t Dr. Willie So...,1,1003
1846,Watch: Gerard Butler Battles Mother Nature in ...,Daniel Nussbaum,9 Jul 2017,The weather strikes back in the latest trailer...,1,1003
556,Astronauts Condemn NASA’s Global Warming Endor...,Dan McGrath,"April 11, 2012",By Paul Bedard In an unprecedented slap at NA...,1,1003
4874,Merry Christmas Everyone!,Anthony Watts,"December 25, 2018",I’ve been able to take some much needed time-...,1,1005